.container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 50px;
  min-height: 100%;
  width: 100%;

  .text {
    text-align: center;
    width: 70%;
  }
}
