@use "../../globalStyles" as *;

.floatingContainer {
  position: fixed;
  display: flex;
  gap: 1rem;
  top: 75px;
  left: 25px;
}

.container {
  @extend .navBar;
  position: sticky;
  width: 100%;
  top: 0;

  @media only screen and (max-width: 480px) {
    justify-content: space-evenly;
  }
}
