@use "../../globalVariables" as *;
@use "../../globalMixins" as *;

.container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: black;
  padding: 1rem;

  .link {
    text-decoration: underline;
    color: $foreground-rgb;
    font-family: $font-general;
    font-size: 18px;
  }
}
