@use "../../globalVariables" as *;
@use "../../globalMixins" as *;

.button {
  @include colorWithAlpha(background-color, $foreground-rgb, 0.8);
  height: 90%;
  width: 200px;
  padding: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid $onForeground-rgb;
  color: $onForeground-rgb;
  font-family: $font-general;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.15s ease 0s;

  @include hover {
    background-color: $onForeground-rgb;
    color: $foreground-rgb;
  }

  @include active {
    color: $foreground-rgb;
    border: none;
    border-radius: 6px;
  }

  @include disabled;
}
