@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
}

@font-face {
  font-family: "DIN Next";
  src: url("/fonts/DINNextW1G-Regular.otf");
}
