@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
  font-family: "DIN Next";
  src: url("./DINNextW1G-Regular.otf");
}
