@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
  font-family: "Noto Sans";
  src: url("./NotoSans-Regular.ttf");
}

@font-face {
  font-family: "DIN Next";
  src: url("./DINNextW1G-Regular.otf");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./SpaceGrotesk-VariableFont_wght.ttf");
}
