.globeWrapper {
  width: 130px;
  height: 130px;
}
.globeWrapper .globeExternal {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0em 0em 0px 0.2em black;
          box-shadow: inset 0em 0em 0px 0.2em black;
  border-radius: 100%;
  overflow: hidden;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: globe 6s ease-in-out infinite;
          animation: globe 6s ease-in-out infinite;
}
.globeWrapper .globeExternal .verLine, .globeWrapper .globeExternal .verLine3, .globeWrapper .globeExternal .verLine2, .globeWrapper .globeExternal .verLine1 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: inset 0.2em 0px 0px 0em black;
          box-shadow: inset 0.2em 0px 0px 0em black;
  -webkit-animation: verLine 3s linear infinite;
          animation: verLine 3s linear infinite;
}
.globeWrapper .globeExternal .verLine1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-play-state: 25%;
          animation-play-state: 25%;
}
.globeWrapper .globeExternal .verLine2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-play-state: 50%;
          animation-play-state: 50%;
}
.globeWrapper .globeExternal .verLine3 {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-play-state: 75%;
          animation-play-state: 75%;
}
.globeWrapper .globeExternal .horLines {
  position: absolute;
  width: 150%;
  height: 55%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0em 0em 0px 0.2em black;
          box-shadow: inset 0em 0em 0px 0.2em black;
}
.globeWrapper .globeExternal .middleLine {
  position: absolute;
  width: 100%;
  height: 0.2em;
  background-color: black;
}

@-webkit-keyframes globe {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes globe {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}
@-webkit-keyframes verLine {
  0% {
    border-radius: 50%;
    width: 100%;
    -webkit-box-shadow: inset 0.2em 0px 0px 0em black;
            box-shadow: inset 0.2em 0px 0px 0em black;
  }
  49% {
    border-radius: 50%;
    -webkit-box-shadow: inset 0.2em 0px 0px 0em black;
            box-shadow: inset 0.2em 0px 0px 0em black;
    background: transparent;
  }
  50% {
    border-radius: 0%;
    -webkit-box-shadow: inset 0em 0px 0px 0.2em black;
            box-shadow: inset 0em 0px 0px 0.2em black;
    width: 0.2em;
  }
  51% {
    border-radius: 50%;
    -webkit-box-shadow: inset -0.2em 0px 0px 0em black;
            box-shadow: inset -0.2em 0px 0px 0em black;
    background: transparent;
  }
  100% {
    border-radius: 50%;
    -webkit-box-shadow: inset -0.2em 0px 0px 0em black;
            box-shadow: inset -0.2em 0px 0px 0em black;
    width: 100%;
  }
}
@keyframes verLine {
  0% {
    border-radius: 50%;
    width: 100%;
    -webkit-box-shadow: inset 0.2em 0px 0px 0em black;
            box-shadow: inset 0.2em 0px 0px 0em black;
  }
  49% {
    border-radius: 50%;
    -webkit-box-shadow: inset 0.2em 0px 0px 0em black;
            box-shadow: inset 0.2em 0px 0px 0em black;
    background: transparent;
  }
  50% {
    border-radius: 0%;
    -webkit-box-shadow: inset 0em 0px 0px 0.2em black;
            box-shadow: inset 0em 0px 0px 0.2em black;
    width: 0.2em;
  }
  51% {
    border-radius: 50%;
    -webkit-box-shadow: inset -0.2em 0px 0px 0em black;
            box-shadow: inset -0.2em 0px 0px 0em black;
    background: transparent;
  }
  100% {
    border-radius: 50%;
    -webkit-box-shadow: inset -0.2em 0px 0px 0em black;
            box-shadow: inset -0.2em 0px 0px 0em black;
    width: 100%;
  }
}/*# sourceMappingURL=RotatingGlobe.module.css.map */